.mainsliderwrapper {
    position: relative;
}

.mainsl__slide {
    height: 100vh;
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: center;

    &>img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 100%;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 240px;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #232726 0%, rgba(35, 39, 38, 0) 79.19%);
        z-index: 2;
    }
}

.swiper-pagination-bullet {
    background: transparent;

    width: 16px;
    height: 16px;
    border-radius: 0;
    opacity: 1;
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid #fff;

    &::after {
        width: 8px;
        height: 8px;
    }
}

.mainsl__slidedescr {
    position: relative;
    z-index: 2;
}

.mainsl__title {
    color: #fff;
    font-size: 48px;
    line-height: 67px;
    text-transform: uppercase;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-family: "Octosquares";
    font-weight: 600;
    margin-bottom: 20px;
}

.mainsl__descr {
    margin-bottom: 40px;
    max-width: 674px;
    width: 100%;

    p {
        color: #fff;
        font-size: 18px;
        line-height: 150%;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.categorysection {
    padding: 100px 0 50px;

    h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 48px;
        line-height: 67px;
        color: #232726;
        font-family: "Octosquares";
        font-weight: 600;
        text-align: center;
        margin: 0 0 60px 0;
    }

    a {
        text-decoration: none;
    }
}

.maincatbox {
    height: 408px;
    overflow: hidden;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after {
        content: '';
        display: block;
        height: 255px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(0.62deg, rgba(0, 0, 0, 0.9) 0.85%, rgba(35, 39, 38, 0) 95.31%);
        transition: 0.3s;
    }

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #000;
        transition: 0.3s;
        opacity: 0;
        z-index: 2;
    }

    .maincatbox__descr {
        position: absolute;
        left: 0;
        bottom: -90px;
        width: 100%;
        z-index: 2;
        padding: 0 10px 20px 10px;
        transition: 0.5s;
        text-align: center;
    }

    .maincatbox__title {
        color: #fff;
        font-size: 24px;
        line-height: 34px;
        font-family: "Octosquares";
        z-index: 2;
        text-align: center;
        margin: 0;
        transition: 0.5;
    }

    .whitebutton {
        margin-left: 0;
        margin-top: 30px;
    }

    &:hover {
        .maincatbox__descr {
            bottom: 50%;
            transform: translateY(50%);
        }

        &::after {
            opacity: 0;
        }

        &::before {
            opacity: 0.7;
        }
    }
}

.categorysection .col-lg-3>a {
    margin-bottom: 50px;
    display: block;
}

.categorysection__row {
    padding-top: 50px;
    border-top: 1px solid #68825A;

    &:first-child {
        padding-top: 0;
        border: none;
    }

    h3 {
        color: #232726;
        margin: 0;
        font-size: 48px;
        line-height: 67px;
        font-family: "Octosquares";
    }
}

.whywe {
    padding: 100px 0 80px;
}

.whywe__box-img {
    margin-bottom: 30px;

    img {
        height: 95px;
    }
}

.whywe__box-descr {
    max-width: 490px;

    .title {
        margin: 0 0 30px 0;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 34px;
        color: #232726;
        font-family: "Octosquares";
        font-weight: 600;
    }

    .descr {
        margin: 0;
        color: #232726;
        font-size: 18px;
        line-height: 160%;
    }
}

.ourclients {
    padding: 100px 0 190px;

    h3 {
        text-align: left;
        margin-bottom: 20px;
    }

    .ourclients__descr {
        max-width: 846px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 80px;

        p {
            color: #232726;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .whitebutton {
        width: 325px;
    }
}

.ourclients__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    img {
        max-width: 150px;
    }
}

.questionsection {
    padding: 68px 0 70px;
    background: url('../img/questsectbg.jpg') no-repeat center / cover;

    .tel {
        text-align: right;
        color: #fff;
        font-size: 48px;
        line-height: 67px;
        font-family: "Octosquares";
        font-weight: 600;
        margin: 0;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: #232726;
        }
    }
}

.questionsection__descr {
    h3 {
        margin: 0 0 10px 0;
        color: #fff;
        font-size: 48px;
        line-height: 67px;
        font-family: "Octosquares";
        font-weight: 600;
    }

    p {
        margin: 0;
        color: #232726;
        font-size: 18px;
    }
}

.questionsection__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    padding-right: 175px;

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: #232726;
            font-size: 18px;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }

            img {
                margin-right: 6px;
                vertical-align: middle;
            }
        }
    }
}

.whitebutton.slidertranpbtn {
    display: none;
}

.mobslide {
    display: none;
}

.main.mainpadd {
    padding-top: 135px;
}


@media(max-width:1600.8px) {
    .mainsl__title {
        font-size: 42px;
        line-height: 140%;
    }

    .mainsl__descr {
        max-width: 570px;
    }

    .whitebutton {
        height: 54px;
        width: 260px;

        img {
            width: 16px;
            margin-left: 8px;
        }
    }

    .whitebutton:after {
        width: 17px;
        background-size: 100% 100%;
        right: -16px;
        background-position: top center;
    }

    .whitebutton:before {
        width: 17px;
        background-size: 100% 100%;
        left: -16px;
        background-position: bottom center;
    }

    .categorysection h1 {
        margin-bottom: 40px;
    }

    .maincatbox {
        height: 300px;
    }

    .maincatbox .maincatbox__title {
        font-size: 21px;
        line-height: 140%;
    }

    .categorysection .col-lg-3>a {
        margin-bottom: 30px;
    }

    .maincatbox .whitebutton {
        width: calc(100% - 50px);
        height: 52px;
        font-size: 16px;
        margin-top: 20px;
    }

    .maincatbox .maincatbox__descr {
        bottom: -75px;
    }

    .whywe__box-img img {
        height: 65px;
    }

    .whywe__box-descr .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .whywe__box-descr {
        max-width: 400px;
    }

    .ourclients__logos img {
        max-width: 130px;
        max-height: 130px;
    }

    .whitebutton.dark:before {
        background-size: 100% 100%;
    }

    .whitebutton.dark:after {
        background-size: 100% 100%;
    }

    .ourclients {
        padding-bottom: 100px;
    }

    .questionsection__descr h3,
    .questionsection .tel {
        font-size: 42px;
        line-height: 140%;
    }

    .questionsection__list {
        padding-right: 105px;
    }





    .secttitle {
        font-size: 42px;
        line-height: 140%;
    }

    .categorysection h1,
    .categorysection__row h3 {
        font-size: 42px;
    }

    .mainsl__descr p,
    .whywe__box-descr .descr {
        font-size: 16px;
    }


}

@media(max-width:1500.8px) {
    .header__contact .header__tel:after {
        margin-left: 0;
    }

    .header__contact .header__tel {
        font-size: 15px;
    }

    .header__contact .header__pricebtn {
        margin-left: 30px;
    }

}

@media(max-width:1400.8px) {

    .header__contact .header__pricebtn {
        height: 50px;
        width: 180px;
        margin-right: 14px;
        margin-left: 25px;
    }

    .header__contact .header__pricebtn:before {
        width: 15px;
        left: -14px;
        background-size: 100% 100%;
    }

    .header__contact .header__pricebtn:after {
        width: 15px;
        right: -14px;
        background-size: 100% 100%;
    }

    .header__contact .header__tel {
        font-size: 14px;
    }

    .header__contact .header__tel:before {
        display: none;
    }

    .header__telbox ul li a {
        font-size: 14px;
    }

    .header__telbox ul {
        top: 32px;
    }

    .categorysection h1,
    .categorysection__row h3 {
        font-size: 36px;
    }

    .maincatbox .maincatbox__title {
        font-size: 18px;
    }

    .maincatbox {
        height: 240px;
    }

    .maincatbox .whitebutton {
        line-height: 140%;
    }

    .maincatbox:hover .maincatbox__descr {
        transform: translateY(60%);
    }

    .questionsection__list {
        padding-right: 0;
    }





    .secttitle,
    .questionsection .tel,
    .questionsection__descr h3 {
        font-size: 36px;
    }

    .categorysection {
        padding: 70px 0 50px;
    }

    .whywe {
        padding: 70px 0;
    }


}

@media(max-width:1199.8px) {

    .header__contact,
    .header__nav {
        display: none;
    }

    .whitebutton.slidertranpbtn {
        display: inline-flex;
        margin-left: 50px;
    }

    .whitebutton {
        height: 60px;
    }







}

@media(max-width:991.8px) {
    .whywe__box-descr {
        max-width: 100%;
    }

    .whywe__box {
        margin-bottom: 30px;
    }

    .whywe,
    .categorysection {
        padding: 40px 0;
    }

    .ourclients {
        padding-top: 40px;
    }

    .ourclients__logos img {
        max-width: 100px;
        max-height: 100px;
    }

    .text-md-left {
        text-align: left !important;
    }

    .questionsection__list {
        text-align: left;
    }

    .questionsection {
        padding: 50px 0 60px;
    }

    .questionsection__descr {
        margin-bottom: 20px;
    }

    .questionsection .tel {
        font-size: 28px;
        margin-bottom: 10px;
        display: block;
        text-align: left;
    }

    .maincatbox .whitebutton {
        display: none;
    }

    .maincatbox:before {
        display: none;
    }

    .maincatbox:hover .maincatbox__descr {
        transform: none;
        bottom: 0;
    }

    .maincatbox .maincatbox__descr {
        bottom: 0;
    }
}

@media(max-width:767.8px) {

    .slbtnsgroup .whitebutton.slidertranpbtn {
        margin-left: 20px;
    }

    .slbtnsgroup .whitebutton {
        margin-right: 50px;
        margin-bottom: 20px;
    }

    .mainsl__title {
        margin-top: 0;
        font-size: 32px;
    }

    .whitebutton.adtransparent {

        &::after,
        &::before {
            display: none;
        }

        margin-left: 0;
        background-color: transparent;
        background-image: url('../img/btnborder.png');
        background-size: 100% 100%;
        border: none;
        color: #fff;
        width: 100%;
        max-width: 300px;

        img {
            filter: invert(1);
        }
    }

    .categorysection__row h3 {
        font-size: 32px;
        line-height: 140%;
    }























}

@media(max-width:575.8px) {
    .ourclients__logos {
        flex-wrap: wrap;
    }

    .ourclients .whitebutton {
        width: 260px;
    }

    .header__logo a>img {
        max-width: 122px;
    }

    .mainsl__title {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
    }

    .mainsl__descr {
        display: none;
    }

    .mainsl__slidedescr {
        height: 100vh;
        padding-top: 140px;
        padding-bottom: 85px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .slbtnsgroup .whitebutton.adtransparent {
        margin: 0 auto 20px;
    }

    .slbtnsgroup .whitebutton.slidertranpbtn {
        margin: 0 auto;
    }

    .mainsl__slide>img {
        display: none;
    }

    .mainsl__slide>img.mobslide {
        display: block;
    }

    .mainsl__slide:before {
        display: none;
    }

    .mainsl__slide:after {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.69) 0.01%, rgba(0, 0, 0, 0.22) 100%);
    }

    .categorysection h1,
    .categorysection__row h3,
    .secttitle {

        font-size: 24px;
        line-height: 140%;
    }

    .categorysection h1 {
        margin-bottom: 20px;
    }

    .categorysection__row {
        padding-top: 30px;
    }

    .categorysection__row h3,
    .secttitle {
        margin-bottom: 20px;
    }

    .maincatbox {
        height: 200px;
    }

    .whywe__box-img img {
        height: 35px;
    }

    .whywe__box-img {
        margin-bottom: 10px;
    }

    .whywe__box-descr .title {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    .whywe,
    .categorysection {
        padding-bottom: 10px;
    }

    .ourclients__logos img {
        max-width: 50px;
        max-height: 60px;
    }

    .ourclients .ourclients__descr {
        margin-bottom: 40px;
    }

    .ourclients__logos {
        margin-bottom: 50px;
    }

    .ourclients {
        padding-bottom: 50px;
    }

    .questionsection__descr h3 {
        font-size: 24px;
    }

    .questionsection .tel {
        font-size: 21px;
    }

    .questionsection__list li {
        display: block;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-size: 16px;
        }
    }

    .mainsl__title br {
        display: none;
    }

    .main.mainpadd {
        padding-top: 95px;
    }

}

@media(max-height:550px) {
    .mainsl__slidedescr {
        min-height: 600px;
    }
}









// font-family: "Octosquares";